@model User

    <h4>@Model.UserId</h4>
    <h4>@Model.Name</h4>
    <h4>@Model.Gender</h4>
    <h4>@Model.PhoneNo</h4>
    <h4>@Model.RequstedRooms</h4>
    <h4>@Model.Password</h4>

    <h4>@Model.Rooms</h4>

